.layer-category > h4 {
  font-family: "Helveticaneue 01", sans-serif;
  font-weight: 500;
}

@media (min-width: 768px) {
  .lead {
    font-size: 24px;
  }
}

.layer-text-left {
  text-align: left;
}
.layer-text-right {
  text-align: right;
}
.layer-text-center {
  text-align: center;
}
.layer-text-justify {
  text-align: justify;
}
.layer-text-nowrap {
  white-space: nowrap;
}
.layer-text-lowercase {
  text-transform: lowercase;
}
.layer-text-uppercase {
  text-transform: uppercase;
}
.layer-text-capitalize {
  text-transform: capitalize;
}
.layer-text-muted {
  color: #777777;
}
.layer-text-primary {
  color: #00b085;
}

.layer-container {
  margin-right: auto;
  margin-left: auto;
  width: 90vw;
}
@media (min-width: 768px) {
  .layer-container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .layer-container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .layer-container {
    width: 1170px;
  }
}

.layer-col-xs-1,
.layer-col-xs-2,
.layer-col-xs-3,
.layer-col-xs-4,
.layer-col-xs-5,
.layer-col-xs-6,
.layer-col-xs-7,
.layer-col-xs-8,
.layer-col-xs-9,
.layer-col-xs-10,
.layer-col-xs-11,
.layer-col-xs-12 {
  float: left;
}
.layer-col-xs-12 {
  width: 100%;
}
.layer-col-xs-11 {
  width: 91.66666667%;
}
.layer-col-xs-10 {
  width: 83.33333333%;
}
.layer-col-xs-9 {
  width: 75%;
}
.layer-col-xs-8 {
  width: 66.66666667%;
}
.layer-col-xs-7 {
  width: 58.33333333%;
}
.layer-col-xs-6 {
  width: 50%;
}
.layer-col-xs-5 {
  width: 41.66666667%;
}
.layer-col-xs-4 {
  width: 33.33333333%;
}
.layer-col-xs-3 {
  width: 25%;
}
.layer-col-xs-2 {
  width: 16.66666667%;
}
.layer-col-xs-1 {
  width: 8.33333333%;
}
.layer-col-xs-pull-12 {
  right: 100%;
}
.layer-col-xs-pull-11 {
  right: 91.66666667%;
}
.layer-col-xs-pull-10 {
  right: 83.33333333%;
}
.layer-col-xs-pull-9 {
  right: 75%;
}
.layer-col-xs-pull-8 {
  right: 66.66666667%;
}
.layer-col-xs-pull-7 {
  right: 58.33333333%;
}
.layer-col-xs-pull-6 {
  right: 50%;
}
.layer-col-xs-pull-5 {
  right: 41.66666667%;
}
.layer-col-xs-pull-4 {
  right: 33.33333333%;
}
.layer-col-xs-pull-3 {
  right: 25%;
}
.layer-col-xs-pull-2 {
  right: 16.66666667%;
}
.layer-col-xs-pull-1 {
  right: 8.33333333%;
}
.layer-col-xs-pull-0 {
  right: auto;
}
.layer-col-xs-push-12 {
  left: 100%;
}
.layer-col-xs-push-11 {
  left: 91.66666667%;
}
.layer-col-xs-push-10 {
  left: 83.33333333%;
}
.layer-col-xs-push-9 {
  left: 75%;
}
.layer-col-xs-push-8 {
  left: 66.66666667%;
}
.layer-col-xs-push-7 {
  left: 58.33333333%;
}
.layer-col-xs-push-6 {
  left: 50%;
}
.layer-col-xs-push-5 {
  left: 41.66666667%;
}
.layer-col-xs-push-4 {
  left: 33.33333333%;
}
.layer-col-xs-push-3 {
  left: 25%;
}
.layer-col-xs-push-2 {
  left: 16.66666667%;
}
.layer-col-xs-push-1 {
  left: 8.33333333%;
}
.layer-col-xs-push-0 {
  left: auto;
}
.layer-col-xs-offset-12 {
  margin-left: 100%;
}
.layer-col-xs-offset-11 {
  margin-left: 91.66666667%;
}
.layer-col-xs-offset-10 {
  margin-left: 83.33333333%;
}
.layer-col-xs-offset-9 {
  margin-left: 75%;
}
.layer-col-xs-offset-8 {
  margin-left: 66.66666667%;
}
.layer-col-xs-offset-7 {
  margin-left: 58.33333333%;
}
.layer-col-xs-offset-6 {
  margin-left: 50%;
}
.layer-col-xs-offset-5 {
  margin-left: 41.66666667%;
}
.layer-col-xs-offset-4 {
  margin-left: 33.33333333%;
}
.layer-col-xs-offset-3 {
  margin-left: 25%;
}
.layer-col-xs-offset-2 {
  margin-left: 16.66666667%;
}
.layer-col-xs-offset-1 {
  margin-left: 8.33333333%;
}
.layer-col-xs-offset-0 {
  margin-left: 0%;
}
@media (min-width: 768px) {
  .layer-col-sm-1,
  .layer-col-sm-2,
  .layer-col-sm-3,
  .layer-col-sm-4,
  .layer-col-sm-5,
  .layer-col-sm-6,
  .layer-col-sm-7,
  .layer-col-sm-8,
  .layer-col-sm-9,
  .layer-col-sm-10,
  .layer-col-sm-11,
  .layer-col-sm-12 {
    float: left;
  }
  .layer-col-sm-12 {
    width: 100%;
  }
  .layer-col-sm-11 {
    width: 91.66666667%;
  }
  .layer-col-sm-10 {
    width: 83.33333333%;
  }
  .layer-col-sm-9 {
    width: 75%;
  }
  .layer-col-sm-8 {
    width: 66.66666667%;
  }
  .layer-col-sm-7 {
    width: 58.33333333%;
  }
  .layer-col-sm-6 {
    width: 50%;
  }
  .layer-col-sm-5 {
    width: 41.66666667%;
  }
  .layer-col-sm-4 {
    width: 33.33333333%;
  }
  .layer-col-sm-3 {
    width: 25%;
  }
  .layer-col-sm-2 {
    width: 16.66666667%;
  }
  .layer-col-sm-1 {
    width: 8.33333333%;
  }
  .layer-col-sm-pull-12 {
    right: 100%;
  }
  .layer-col-sm-pull-11 {
    right: 91.66666667%;
  }
  .layer-col-sm-pull-10 {
    right: 83.33333333%;
  }
  .layer-col-sm-pull-9 {
    right: 75%;
  }
  .layer-col-sm-pull-8 {
    right: 66.66666667%;
  }
  .layer-col-sm-pull-7 {
    right: 58.33333333%;
  }
  .layer-col-sm-pull-6 {
    right: 50%;
  }
  .layer-col-sm-pull-5 {
    right: 41.66666667%;
  }
  .layer-col-sm-pull-4 {
    right: 33.33333333%;
  }
  .layer-col-sm-pull-3 {
    right: 25%;
  }
  .layer-col-sm-pull-2 {
    right: 16.66666667%;
  }
  .layer-col-sm-pull-1 {
    right: 8.33333333%;
  }
  .layer-col-sm-pull-0 {
    right: auto;
  }
  .layer-col-sm-push-12 {
    left: 100%;
  }
  .layer-col-sm-push-11 {
    left: 91.66666667%;
  }
  .layer-col-sm-push-10 {
    left: 83.33333333%;
  }
  .layer-col-sm-push-9 {
    left: 75%;
  }
  .layer-col-sm-push-8 {
    left: 66.66666667%;
  }
  .layer-col-sm-push-7 {
    left: 58.33333333%;
  }
  .layer-col-sm-push-6 {
    left: 50%;
  }
  .layer-col-sm-push-5 {
    left: 41.66666667%;
  }
  .layer-col-sm-push-4 {
    left: 33.33333333%;
  }
  .layer-col-sm-push-3 {
    left: 25%;
  }
  .layer-col-sm-push-2 {
    left: 16.66666667%;
  }
  .layer-col-sm-push-1 {
    left: 8.33333333%;
  }
  .layer-col-sm-push-0 {
    left: auto;
  }
  .layer-col-sm-offset-12 {
    margin-left: 100%;
  }
  .layer-col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .layer-col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .layer-col-sm-offset-9 {
    margin-left: 75%;
  }
  .layer-col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .layer-col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .layer-col-sm-offset-6 {
    margin-left: 50%;
  }
  .layer-col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .layer-col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .layer-col-sm-offset-3 {
    margin-left: 25%;
  }
  .layer-col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .layer-col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .layer-col-sm-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 992px) {
  .layer-col-md-1,
  .layer-col-md-2,
  .layer-col-md-3,
  .layer-col-md-4,
  .layer-col-md-5,
  .layer-col-md-6,
  .layer-col-md-7,
  .layer-col-md-8,
  .layer-col-md-9,
  .layer-col-md-10,
  .layer-col-md-11,
  .layer-col-md-12 {
    float: left;
  }
  .layer-col-md-12 {
    width: 100%;
  }
  .layer-col-md-11 {
    width: 91.66666667%;
  }
  .layer-col-md-10 {
    width: 83.33333333%;
  }
  .layer-col-md-9 {
    width: 75%;
  }
  .layer-col-md-8 {
    width: 66.66666667%;
  }
  .layer-col-md-7 {
    width: 58.33333333%;
  }
  .layer-col-md-6 {
    width: 50%;
  }
  .layer-col-md-5 {
    width: 41.66666667%;
  }
  .layer-col-md-4 {
    width: 33.33333333%;
  }
  .layer-col-md-3 {
    width: 25%;
  }
  .layer-col-md-2 {
    width: 16.66666667%;
  }
  .layer-col-md-1 {
    width: 8.33333333%;
  }
  .layer-col-md-pull-12 {
    right: 100%;
  }
  .layer-col-md-pull-11 {
    right: 91.66666667%;
  }
  .layer-col-md-pull-10 {
    right: 83.33333333%;
  }
  .layer-col-md-pull-9 {
    right: 75%;
  }
  .layer-col-md-pull-8 {
    right: 66.66666667%;
  }
  .layer-col-md-pull-7 {
    right: 58.33333333%;
  }
  .layer-col-md-pull-6 {
    right: 50%;
  }
  .layer-col-md-pull-5 {
    right: 41.66666667%;
  }
  .layer-col-md-pull-4 {
    right: 33.33333333%;
  }
  .layer-col-md-pull-3 {
    right: 25%;
  }
  .layer-col-md-pull-2 {
    right: 16.66666667%;
  }
  .layer-col-md-pull-1 {
    right: 8.33333333%;
  }
  .layer-col-md-pull-0 {
    right: auto;
  }
  .layer-col-md-push-12 {
    left: 100%;
  }
  .layer-col-md-push-11 {
    left: 91.66666667%;
  }
  .layer-col-md-push-10 {
    left: 83.33333333%;
  }
  .layer-col-md-push-9 {
    left: 75%;
  }
  .layer-col-md-push-8 {
    left: 66.66666667%;
  }
  .layer-col-md-push-7 {
    left: 58.33333333%;
  }
  .layer-col-md-push-6 {
    left: 50%;
  }
  .layer-col-md-push-5 {
    left: 41.66666667%;
  }
  .layer-col-md-push-4 {
    left: 33.33333333%;
  }
  .layer-col-md-push-3 {
    left: 25%;
  }
  .layer-col-md-push-2 {
    left: 16.66666667%;
  }
  .layer-col-md-push-1 {
    left: 8.33333333%;
  }
  .layer-col-md-push-0 {
    left: auto;
  }
  .layer-col-md-offset-12 {
    margin-left: 100%;
  }
  .layer-col-md-offset-11 {
    margin-left: 91.66666667%;
  }
  .layer-col-md-offset-10 {
    margin-left: 83.33333333%;
  }
  .layer-col-md-offset-9 {
    margin-left: 75%;
  }
  .layer-col-md-offset-8 {
    margin-left: 66.66666667%;
  }
  .layer-col-md-offset-7 {
    margin-left: 58.33333333%;
  }
  .layer-col-md-offset-6 {
    margin-left: 50%;
  }
  .layer-col-md-offset-5 {
    margin-left: 41.66666667%;
  }
  .layer-col-md-offset-4 {
    margin-left: 33.33333333%;
  }
  .layer-col-md-offset-3 {
    margin-left: 25%;
  }
  .layer-col-md-offset-2 {
    margin-left: 16.66666667%;
  }
  .layer-col-md-offset-1 {
    margin-left: 8.33333333%;
  }
  .layer-col-md-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 1200px) {
  .layer-col-lg-1,
  .layer-col-lg-2,
  .layer-col-lg-3,
  .layer-col-lg-4,
  .layer-col-lg-5,
  .layer-col-lg-6,
  .layer-col-lg-7,
  .layer-col-lg-8,
  .layer-col-lg-9,
  .layer-col-lg-10,
  .layer-col-lg-11,
  .layer-col-lg-12 {
    float: left;
  }
  .layer-col-lg-12 {
    width: 100%;
  }
  .layer-col-lg-11 {
    width: 91.66666667%;
  }
  .layer-col-lg-10 {
    width: 83.33333333%;
  }
  .layer-col-lg-9 {
    width: 75%;
  }
  .layer-col-lg-8 {
    width: 66.66666667%;
  }
  .layer-col-lg-7 {
    width: 58.33333333%;
  }
  .layer-col-lg-6 {
    width: 50%;
  }
  .layer-col-lg-5 {
    width: 41.66666667%;
  }
  .layer-col-lg-4 {
    width: 33.33333333%;
  }
  .layer-col-lg-3 {
    width: 25%;
  }
  .layer-col-lg-2 {
    width: 16.66666667%;
  }
  .layer-col-lg-1 {
    width: 12%;
  }
  .layer-col-lg-pull-12 {
    right: 100%;
  }
  .layer-col-lg-pull-11 {
    right: 91.66666667%;
  }
  .layer-col-lg-pull-10 {
    right: 83.33333333%;
  }
  .layer-col-lg-pull-9 {
    right: 75%;
  }
  .layer-col-lg-pull-8 {
    right: 66.66666667%;
  }
  .layer-col-lg-pull-7 {
    right: 58.33333333%;
  }
  .layer-col-lg-pull-6 {
    right: 50%;
  }
  .layer-col-lg-pull-5 {
    right: 41.66666667%;
  }
  .layer-col-lg-pull-4 {
    right: 33.33333333%;
  }
  .layer-col-lg-pull-3 {
    right: 25%;
  }
  .layer-col-lg-pull-2 {
    right: 16.66666667%;
  }
  .layer-col-lg-pull-1 {
    right: 8.33333333%;
  }
  .layer-col-lg-pull-0 {
    right: auto;
  }
  .layer-col-lg-push-12 {
    left: 100%;
  }
  .layer-col-lg-push-11 {
    left: 91.66666667%;
  }
  .layer-col-lg-push-10 {
    left: 83.33333333%;
  }
  .layer-col-lg-push-9 {
    left: 75%;
  }
  .layer-col-lg-push-8 {
    left: 66.66666667%;
  }
  .layer-col-lg-push-7 {
    left: 58.33333333%;
  }
  .layer-col-lg-push-6 {
    left: 50%;
  }
  .layer-col-lg-push-5 {
    left: 41.66666667%;
  }
  .layer-col-lg-push-4 {
    left: 33.33333333%;
  }
  .layer-col-lg-push-3 {
    left: 25%;
  }
  .layer-col-lg-push-2 {
    left: 16.66666667%;
  }
  .layer-col-lg-push-1 {
    left: 8.33333333%;
  }
  .layer-col-lg-push-0 {
    left: auto;
  }
  .layer-col-lg-offset-12 {
    margin-left: 100%;
  }
  .layer-col-lg-offset-11 {
    margin-left: 91.66666667%;
  }
  .layer-col-lg-offset-10 {
    margin-left: 83.33333333%;
  }
  .layer-col-lg-offset-9 {
    margin-left: 75%;
  }
  .layer-col-lg-offset-8 {
    margin-left: 66.66666667%;
  }
  .layer-col-lg-offset-7 {
    margin-left: 58.33333333%;
  }
  .layer-col-lg-offset-6 {
    margin-left: 50%;
  }
  .layer-col-lg-offset-5 {
    margin-left: 41.66666667%;
  }
  .layer-col-lg-offset-4 {
    margin-left: 33.33333333%;
  }
  .layer-col-lg-offset-3 {
    margin-left: 25%;
  }
  .layer-col-lg-offset-2 {
    margin-left: 16.66666667%;
  }
  .layer-col-lg-offset-1 {
    margin-left: 8.33333333%;
  }
  .layer-col-lg-offset-0 {
    margin-left: 0%;
  }
}

a > .layer-category {
  color: #333333;
}

.layer-home #layer-datasets .layer-container .layer-text-center .layer-row {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  justify-content: center;
}
.layer-home #layer-datasets p {
  font-size: 12px;
}
.layer-home #layer-datasets h4 {
  text-transform: uppercase;
  font-size: 12px;
}
.layer-home #layer-datasets a {
  color: #333333;
}
.layer-home #layer-datasets a:hover {
  text-decoration: none;
}
.layer-home #layer-datasets a .layer-category {
  /*background: @brand-primary;
                  border-radius: 4px;*/
  margin: 0 -15px;
  padding: 2em 0;
}
.layer-home #layer-datasets a .layer-category:hover {
  color: #00b085;
}
.layer-home #layer-datasets a span {
  font-size: 4em;
}

@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

a {
  text-decoration: none !important;
}

.section-title {
  position: relative;
  font-size: 40px;
  letter-spacing: 2px;
  margin-top: 0;
  margin-bottom: 16px;
  font-family: "SF Pro Display Bold", sans-serif;
  color: #1d1d1d;
}
@media only screen and (max-width: 767px) {
  .section-title {
    font-size: 30px;
    letter-spacing: inherit;
    margin-top: 0;
    margin-bottom: 16px;
    font-family: "SF Pro Display Bold", sans-serif;
    color: #1d1d1d;
  }
}

.layers-section {
  margin-bottom: 5rem;
}
